CMakeLists.txt.user*
build*
qtbuild/*
sdriq/*
presets/*
LOCAL/*
sdrangelove.supp
.cproject
.project
.settings/
*.cs
*.pro.user
.idea/*
debian/sdrangel/*
debian/sdrangel.substvars
debian/files
debian/sdrangel.debhelper.log
obj-x86_64-linux-gnu/*
