[Desktop Entry]
Name=SDRangel
GenericName=SDR/Analyzer frontend
Comment=SDR/Analyzer frontend for Airspy, BladeRF, HackRF, RTL-SDR and FunCube
Exec=sdrangel
Icon=sdrangel_icon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;HamRadio;